*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow: hidden;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.myImg {
	visibility: hidden;
	display: none;
}

.dialog {
	display: none;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#controls {
	display: none;
	align-items: center;
	gap: 1rem;
	justify-content: center;
	cursor: default;
	color: white;
}

#controls h1 {
	text-align: center;
	text-shadow: 2px 0px 1px black;
}

#controls h2 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background-color: #d3d3d3c7;
	border: 5px inset #808080b3;
	color: white;
	text-shadow: 1px 0px 1px black;
}

#controls p {
	font-size: 20px;
	text-shadow: 2px 0px 1px black;
}

#winDialog {
	display: none;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	justify-content: center;
	text-transform: uppercase;
}

#winDialog h2 {
	text-shadow: 3px 0px 2px black;
	color: white;
	font-size: 6rem;
}

#restartButton {
	padding: 0.5em 1.5em;
	font-size: 1.1rem;
	background: #318ed5;
	border: none;
	border-radius: 5px;
	color: white;
	text-shadow: 0px 2px 2px black;
	box-shadow: 2px 2px 3px black;
	cursor: pointer;
}

#restartButton:hover {
	transform: scale(1.02);
	background: #409de4;
}

#loseDialog {
	display: none;
	font-size: 6rem;
	text-transform: uppercase;
	color: rgb(196, 17, 17);
	text-shadow: 2px 0px 2px black;
}
